<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/app.css"/>
    </head>
    <body>
        <h1>Hallo Welt: <%= title %></h1>

        <div id="entry-area">
        <% for(let entry of entries) { %>

            <div class="gbentry">
                <h3> <%= entry.title %></h1>

                <p><%= entry.content %></p>
            </div>

        <% }; %>
        </div>


            <form class="new-entry" action="entry/new" method="POST">
                <label for="title">Titel</label>
                <br/>
                <input id="title" type="text" name="title">
                <br/>
                <label for="content">Deine Nachricht</label>
                <br/>
                <textarea id="content" name="content"></textarea>
            <br/>

                <button type="submit">Absenden</button>
            </form>

        <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>